{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
	<h1>Running Pace Converter</h1>
	<table id="mainTable">
		<tbody>
			<tr>
				<td>
					<label class="inputLabel" for="speedInput">Your </label>
					<select id="selectSpeedPace">
						<option value="selectSpeed">speed</option>
						<option value="selectPace">pace</option>
					</select>
				</td>
				<td>
					<label class="inputLabel" for="targetEventInput">Target event</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" id="speedInput">
				</td>
				<td>
					<input type="text" id="targetEventInput">
				</td>
			</tr>
			<tr>
				<td>
					<div class="outputLabel" id="divParsedSpeed"></div>
				</td>
				<td>
					<div class="outputLabel" id="divParsedTargetEvent"></div>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<div id="divResult"></div>
</div>
{% endblock %}